@tailwind base;
@tailwind components;
@tailwind utilities;


.form{
  font-family: 'Comfortaa', cursive;
  background: url('./imgs/register_bg.webp');
  background-size: cover;
}
.home{
  background: url('./imgs/home_bg.jpg');
  background-size: cover;
}
.App {
  text-align: center;
}
  .chatPanel{
    background: url('./imgs/mobile-doodle.jpg');
    background-size: cover;
  }
@media (min-width: 768px) { 
  .chatPanel{
    background: url('./imgs/web-doodle.webp');
    background-size: cover;
  }
}
.messages::-webkit-scrollbar {
  display: none;
}
.mine{
  align-items: flex-end;
}
.mine p{
  max-width: 80%;
  margin-right: 0;
  background-color: #6982FF;
  border-bottom-right-radius: 0;
  border-top-left-radius: 12px;
}